---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Exploring AI",
    description:
      "We are AI enthusiasts who are learning AI and exploring the new world of AI. We learn AI together and share our knowledge with each other.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Growing Together",
    description:
      "We have students from different levels where the seniors teach the juniors and the juniors learn from the seniors.",
    icon: "mdi:graph-timeline-variant",
  },
  {
    title: "Finding Interest",
    description:
      "We share our interests besides AI and learn about each other's interests. We also share our projects and learn from each other.",
    icon: "ic:outline-search",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    <span class="text-brand-700">AI Learners Community</span> at a glance
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    We are a family of AI enthusiasts of Herald College where we are exploring and learning AI together.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-white rounded-full  p-1 w-8 h-8 shrink-0">
          <Icon class="text-brand-600" name={item.icon} />
        </div>
        <div class="flex flex-col gap-1">
          <h3 class="font-semibold text-lg text-brand-700">{item.title}</h3>
          <p class="text-slate-500 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
