---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Exploring AI",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Growing Together",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.",
    icon: "mdi:graph-timeline-variant",
  },
  {
    title: "Finding Interest",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.",
    icon: "ic:outline-search",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    <span class="text-brand-700">AI Learners Community</span> at a glance
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias saepe
    corporis tenetur? Quam eius, nam quaerat error sit hic itaque sapiente rerum
    distinctio. Quidem accusamus quam, autem delectus cupiditate alias.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-white rounded-full  p-1 w-8 h-8 shrink-0">
          <Icon class="text-brand-600" name={item.icon} />
        </div>
        <div class="flex flex-col gap-1">
          <h3 class="font-semibold text-lg text-brand-700">{item.title}</h3>{" "}
          <p class="text-slate-500 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
