<div class="flex flex-col gap-5 justify-center item-center my-20">
    <div class="m-6">
    <h1 class="text-brand-600 font-bold text-5xl text-center">About Herald DevCorps</h1>
    </div>
    <div class="m-6 flex justify-center items-center ">
        <img src="/devCorps.png" class="max-h-24 inline w-30" alt='devCorpsLogo'>
    </div>
    <div class="m-6 text-1xl text-slate-600 text-left mx-full">
      Herald DevCorps is one of the main attraction of Herald College Kathmandu which governs all the other community that are currently present.
      It is responsible for checking the activities of the community and their overall development of the communities as well. This platform allows us to connect communitites with the professional personals and conduct events, workshops and many more.
    </div>
</div>