---
import { Picture } from "@astrojs/image/components";
import Link from "@components/ui/link.astro";
import Particles from "astro-particles";
import type { ISourceOptions } from "tsparticles-engine";

const coolParticles: ISourceOptions = {
  background: {
    color: {
      value: "#ffffff",
    },
  },
  fpsLimit: 60,
  fullScreen: {
    enable: true,
    zIndex: -2,
  },
  particles: {
    color: {
      value: "#74c043",
    },
    collisions: {
      enable: true,
    },
    move: {
      direction: "none",
      enable: true,
      outMode: "bounce",
      random: false,
      speed: 1,
      straight: false,
    },
    number: {
      density: {
        enable: true,
        value_area: 800,
      },
      value: 80,
    },
    opacity: {
      value: 0.5,
    },
    shape: {
      type: "circle",
    },
    size: {
      random: true,
      value: 5,
    },
  },
};
---

<script>
  import { tsParticles } from "tsparticles-engine";
  import { loadFull } from "tsparticles";

  (async () => {
    await loadFull(tsParticles);
  })();
</script>
<div class="h-0">
  <Particles id="tsparticles" options={coolParticles} />
</div>

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={"/hero-illustration.png"}
      alt="Astronaut in the air"
      widths={[200, 800, 800]}
      aspectRatio="1:1"
      sizes="(max-width: 800px) 100vw, 500px"
      loading="eager"
      format="avif"
    />
  </div>

  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter xl:leading-[120%]">
      <span class="text-brand-600">Surrouding</span> and Gathering the
      <br />
      <span class="text-brand-600"> AI Enthusiasts</span>
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      A community lead by AI enthusiast and runned by multi-talented people.
      Being AI Learners Community, we got amazing faces to make our community
      grow!
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="/about-us"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        Learn More
      </Link>
    </div>
  </div>
</main>
