---
import Link from "@components/ui/link.astro";
---



<div class="flex flex-col gap-9">
    <div class="flex lg:flex-row justify-center gap-5 md:flex-col-reverse sm:flex-col-reverse">
        <div class="flex flex-col justify-center align-center gap-7">
            <p class="text-4xl text-brand-600"> 
            Algo Talks Ep3
            </p>
            <p>
            Algo Talks is a series of talks by our very own alumni and industry professionals. The talks are aimed at providing students with a glimpse of the industry and the opportunities available to them.
            </p>
            <Link href="#"
                size="md"
                class={"bg-brand-600 hover:bg-brand w-1/4"}
                >
            Watch Now
            </Link>
         
        </div>
        <div class="w-full h-full flex justify-center">
            <img
            src="/events/algo_talk_v3.jpg"
            alt="Algotalks v1.0"
            class="w-3/4 h-3/4 object-cover rounded-md hover:-translate-y-3"
          />
        </div>
       
    </div>
    <div class="flex lg:flex-row-reverse justify-around gap-5 md:flex-col-reverse sm:flex-col-reverse">
        <div class="flex flex-col justify-center align-center">
            <div class="flex flex-col justify-center align-center gap-7">
                <p class="text-4xl text-brand-600"> 
                Algo Talks Ep2
                </p>
                <p>
                Algo Talks is a series of talks by our very own alumni and industry professionals. The talks are aimed at providing students with a glimpse of the industry and the opportunities available to them.
                </p>
                <Link href="#"
                size="md"
                class={"bg-brand-600 hover:bg-brand w-1/4"}
                >
                Watch Now
                </Link>
            </div>
        </div>
        <div class="w-full h-full flex justify-center">
            <img
            src="/events/algo_talk_v2.jpg"
            alt="FYP Demo"
            class="w-3/4 h-3/4 object-cover rounded-md hover:-translate-y-3"
          />
        </div>
    </div>
<div class="flex lg:flex-row justify-center gap-5 md:flex-col-reverse sm:flex-col-reverse">
    <div class="flex flex-col justify-center align-center gap-7">
        <p class="text-4xl text-brand-600"> 
        Algo Talks Ep1
        </p>
        <p>
        Algo Talks is a series of talks by our very own alumni and industry professionals. The talks are aimed at providing students with a glimpse of the industry and the opportunities available to them.
        </p>
        <Link href="#"
            size="md"
            class={"bg-brand-600 hover:bg-brand w-1/4"}
            >
        Watch Now
        </Link>
     
    </div>
    <div class="w-full h-full flex justify-center">
        <img
        src="/events/algo_talk_v1.jpg"
        alt="Algotalks v1.0"
        class="w-3/4 h-3/4 object-cover rounded-md hover:-translate-y-3"
      />
    </div>
   
</div>
<div class="w-full h-full border-brand-500 border my-9">
</div>

</div>