

<div class="flex lg:flex-row justify-around gap-9 md:flex-col-reverse sm:flex-col-reverse">
    <div class="flex flex-col justify-center align-center">
        <p class="text-lg text-black"> 
        Final year project Demonstration where the graduates of the year 2020 showcased their projects to the Students.
        </p>
    </div>
    <div>
        <img
        src="/events/herald_fyp.jpg"
        alt="FYP Demo"
        class="w-full h-full object-cover rounded-md hover:-translate-y-3"
      />
    </div>
</div>