<div class="max-w-4xl mx-auto">
  <h2 class="font-bold text-3xl text-gray-700 mt-16 mb-4 text-center">
    AI community Mentor
  </h2>
  <div class="flex flex-col items-center">
    <div class="h-56 w-56 overflow-hidden rounded-full relative">
      <img
        src="/assets/Mentor.jpg"
        alt="Bibek Khanal"
        class="w-full h-full object-cover"
      />
    </div>
    <h2 class="text-lg text-gray-800 mt-4 font-bold">Anmol Adhikari</h2>
    <h3 class="text-sm text-slate-500">Mentor</h3>
    <h3 class="text-sm text-slate-500">
      Lecturer, Academic Mentor, Associate Module Leader, FYP Supervisor
    </h3>

    <h3 class="text-sm text-slate-500">
      Msc. Data Analyst( Machine Learning and Project Management )
    </h3>
  </div>
</div>
