---
import Container from "@components/container.astro";
import Features from "@components/homepage/features.astro";
import Hero from "@components/homepage/hero.astro";
import Layout from "@layouts/Layout.astro";
import Founders from "@components/homepage/founders.astro";
import HeraldDevcorps from "@components/homepage/heraldDevcorps.astro";
import DevCorpshead from "@components/team/devCorpshead.astro";
import Mentor from "@components/team/mentor.astro";
import Event from "@components/homepage/event.astro";
import Insta from "@components/insta.astro";

---
<Layout title="Home">
  <Container>
    <Hero />
    <Features />
    <Insta />
    <Event />
    <HeraldDevcorps />
    <div class="sm:flex-row flex flex-col m-9 ">
      <DevCorpshead />
      <Mentor />
      </div>
    <Founders />

  </Container>
</Layout>
