---
import Link from "./ui/link.astro";

const { details } = Astro.props;
---

<div class={details.id === 2 ? "flex lg:flex-row-reverse justify-center gap-5 md:flex-col sm:flex-col" : "flex lg:flex-row justify-center gap-5 md:flex-col sm:flex-col"}>
    <div class="flex flex-col justify-center align-center gap-7">
        <p class="text-4xl text-brand-600"> 
        {details.title}
        </p>
        <p>
        {details.desc}
        </p>
        <Link href="#"
            size="md"
            class={"bg-brand-600 hover:bg-brand w-2/4"}
            >
        Watch Now
        </Link>
     
    </div>
    <div class="w-full h-full flex justify-center">
        <img
        src={'/events/'+details.imageName+'.jpg'}
        alt="Algotalks v1.0"
        class="w-3/4 h-3/4 object-cover rounded-md hover:-translate-y-3 hover:duration-500"
      />
    </div>
   
</div>