---
import Link from "./ui/link.astro";

const { details, index } = Astro.props;
---

<div
  class={`flex flex-col-reverse ${
    (index + 1) % 2 === 0 ? "md:flex-row-reverse" : "md:flex-row"
  } justify-center gap-5 lg:gap-12`}>
  <div class="flex flex-col justify-center align-center gap-3 md:gap-6 w-full">
    <p class="text-4xl text-brand-600">
      {details.title}
    </p>
    <p>
      {details.desc}
    </p>
    <Link href="#" size="md" class={"bg-brand-600 hover:bg-brand w-2/4"}>
      Watch Now
    </Link>
  </div>
  <div class="w-full flex justify-center aspect-square">
    <img
      src={"/events/" + details.imageName + ".jpg"}
      alt={details.title}
      class="w-full h-full object-cover rounded-md hover:-translate-y-3 duration-500"
    />
  </div>
</div>

