<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>

<div class="my-20">
<h2 class="text-5xl font-bold text-center bg-clip-text text-transparent bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 p-2">Our Insta Page</h2>
<h3 class="text-1xl font-bold text-center text-gray-600 my-5">To get our latest updates</h3>
<div class="flex items-center w-100 justify-center">
    <div class="elfsight-app-357a5be0-affe-4b2c-86c0-1baa8fe9b81e"></div>
</div>
</div>
