---
import { Props } from "astro";
import TeamCard from "./TeamCard.astro";
interface Founder {
  imageUrl: string;
  alt: string;
  name: string;
  title: string;
}
const founders: Founder[] = [
  {
    imageUrl: "./assets/founders/shreejan.jpg",
    alt: "Shreejan Shrestha",
    name: "Shreejan Shrestha",
    title: "Founder",
  },
  {
    imageUrl: "./assets/founders/erin-shakya.png",
    alt: "Erin Shakya",
    name: "Erin Shakya",
    title: "Founder",
  },
];
---

<div class="flex flex-col justify-center align-center my-16 gap-16">
  <h2 class="text-5xl font-bold text-center text-brand-600">Founders</h2>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
    {
      founders.map((founder) => (
        <TeamCard
          imageUrl={founder.imageUrl}
          alt={founder.alt}
          name={founder.name}
          title={founder.title}
        />
      ))
    }
  </div>
</div>
