---
import {getCollection } from "astro:content";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import Algocard from "@components/algocard.astro";

const AlogDetails = await getCollection("algo", ({data})=>{
  return data;
});

const filterDate = AlogDetails.sort((a,b) => {
  return Date.parse(b.data.date) - Date.parse(a.data.date);
});

const details = filterDate.map((item) => {
  return {
    id: item.data.index,
    title: item.data.title,
    description: item.data.description,
    date:item.data.date,
    src: item.data.src,
    link: item.data.link,
  };
});

console.log(details[2]);
---

<Layout title="Algo">
  <Container>
    <Sectionhead>
      <Fragment slot="title">
        <span class="text-brand-500">Algo</span> Talks
      </Fragment>
      <Fragment slot="desc">
        Platform to talk about exciting algorithms mostly related to <span
          class="text-brand-700 font-bold">Artificial Intelligence.</span
        >
      </Fragment>
    </Sectionhead>
    <div class="my-9 w-full flex flex-col justify-around gap-10">
      {details.map((item, index) => <Algocard details={item} index={index} />)}
    </div>
  </Container>
</Layout>

  